# TV Serije

Za svoj projekt sem se odločil za analizo trenutno najbolj popularnih (glede na stran imdb.com) 247 tv serij.
Zbral sem naslednje podatke o omenjenih serijah:
- naslov
- kratek opis
- žanri
- leta izida
- dolžine epizod
- število epizod
- ocena, število glasov
- igralci (in vloge)

Za začetek si oglejmo vse podatke, zbrane v tabeli:

In [20]:
import pandas as pd
%matplotlib inline

pd.options.display.max_rows = 15

In [43]:
serije = pd.read_csv('serije.csv', index_col = 'id')
serije

,naslov,opis,zanri,leto,drzave,dolzina,epizode,ocena,st_glasov,igralci
id,,,,,,,,,,
5491994,Planet Earth II,David Attenborough returns in this breathtakin...,['Documentary'],2016-,['UK'],51,7,9.7,17184,"[('David Attenborough', 'Himself - presenter')]"
185906,Band of Brothers,The story of Easy Company of the US Army 101st...,"['Action', 'Drama', 'History', 'War']",2001-,"['USA', 'UK']",54,10,9.5,246659,"[('Scott Grimes', 'Donald G. Malarkey'), ('Dam..."
795176,Planet Earth,"Emmy Award-winning, 11 episodes, 5 years in th...",['Documentary'],2006-,['UK'],43,11,9.5,111641,"[('David Attenborough', 'Himself - Narrator'),..."
944947,Game of Thrones,Nine noble families fight for control over the...,"['Adventure', 'Drama', 'Fantasy', 'Romance']",2011-,"['USA', 'UK']",56,73,9.5,1106304,"[('Peter Dinklage', 'Tyrion Lannister'), ('Len..."
903747,Breaking Bad,A high school chemistry teacher diagnosed with...,"['Crime', 'Drama', 'Thriller']",2008-2013,['USA'],49,62,9.5,939633,"[('Bryan Cranston', 'Walter White'), ('Anna Gu..."
306414,The Wire,"Baltimore drug scene, seen through the eyes of...","['Crime', 'Drama', 'Thriller']",2002-2008,['USA'],59,60,9.4,200345,"[('Dominic West', ""Det. James 'Jimmy' McNulty""..."
2395695,Cosmos: A Spacetime Odyssey,A documentary series that explores how we disc...,['Documentary'],2014-,['USA'],41,13,9.3,66269,"[('Neil deGrasse Tyson', 'Himself - Host')]"
...,...,...,...,...,...,...,...,...,...,...
2249364,Broadchurch,The murder of a young boy in a small coastal t...,"['Crime', 'Drama', 'Mystery']",2013-,['UK'],48,24,8.4,46620,"[('David Tennant', 'Alec Hardy'), ('Olivia Col..."
54533,The Dick Van Dyke Show,The misadventures of a TV writer both at work ...,"['Comedy', 'Family']",1961-1966,['USA'],30,158,8.4,6395,"[('Dick Van Dyke', 'Rob Petrie'), ('Rose Marie..."
780362,Jane Eyre,A young governess falls in love with her brood...,"['Drama', 'Romance']",2006-,"['UK', 'USA']",45,4,8.4,15611,"[('Ruth Wilson', 'Jane Eyre'), ('Toby Stephens..."
1839578,Person of Interest,An ex-assassin and a wealthy programmer save l...,"['Action', 'Crime', 'Drama', 'Mystery', 'Sci-F...",2011-2016,['USA'],43,103,8.5,132854,"[('Jim Caviezel', 'John Reese'), ('Kevin Chapm..."
310455,Foyle's War,"As WW2 rages around the world, DCS Foyle fight...","['Crime', 'Drama', 'Mystery', 'War']",2002-2015,['UK'],60,28,8.4,9586,"[('Michael Kitchen', 'Christopher Foyle'), ('H..."
6005644,TVF Tripling,"Divorced, jobless, hopeless.",['Drama'],2016-,['India'],30,5,8.9,6649,"[('Sumeet Vyas', 'Chandan'), ('Maanvi Gagroo',..."
2126154,This Is England '88,Christmas 1988.,"['Crime', 'Drama']",2011-,['UK'],60,3,8.4,6268,"[('Andrew Ellis', 'Gadget'), ('Andrew Shim', '..."

In [39]:
#serije[['naslov', 'ocena']]
#serije['ocena'].value_counts('ocena')
serije['drzave'].value_counts()

USA                                                             119
UK                                                               56
Japan                                                            26
USA, UK                                                           6
UK, USA                                                           6
Turkey                                                            4
India                                                             4
                                                               ...
USA, Japan                                                        1
Italy, France, Spain, UK, USA                                     1
Denmark, Italy, Germany, France, Norway, Sweden, Netherlands      1
UK, Canada                                                        1
West Germany, UK, France                                          1
Norway                                                            1
Germany                                                           1
Name: drzave, dtype: int64

In [42]:
for i in serije['drzave']:
    if 'USA' in i:
        print(i)

USA, UK
USA, UK
USA
USA
USA
USA
USA, UK
USA
UK, USA
UK, USA, Greece, Italy, Germany
USA
USA
USA
USA
USA
USA
USA
USA
UK, USA, Spain, Germany, Greece, Canada
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
UK, USA
UK, USA
USA
USA
USA
USA
USA
Japan, USA, Canada
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA, UK
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA, UK
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA
USA, Canada
USA
USA
USA, UK
USA
USA
USA
USA
USA
UK, USA
USA
USA, Canada
USA
USA
Italy, France, Spain, UK, USA
USA
USA
USA
USA
USA
USA
USA
UK, USA
USA
USA, Canada
USA
USA
USA
Canada, West Germany, USA
USA, Japan
USA
USA
USA
USA
UK, USA
USA